<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="This is a sample for my self-education." />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        @RenderSection("Styles", required: false)

        <title>View Layout File</title>
    </head>
    <body>
        @RenderBody()

        <div><a href="~/index.html">index</a></div>

        @RenderSection("Scripts", required: false)
    </body>
</html>